#code-change{
    border: none;
    background-color: transparent;
    padding-right: 0px;
}

#validate_img{
    height: 34px;
    margin-top: -6px;
}

#head{
    margin-top: 10%;
}

body{
    background: beige;
}