{% extends "bootstrap/base.html" %}
{% block title %}USTC 2020年考研初试成绩与排名查询{% endblock %}

{% block styles %}
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<style>
    #code-change{
        border: none;
        background-color: transparent;
        padding-right: 0px;
    }
    #validate_img{
        height: 34px;
        margin-top: -6px;
    }
    #head{
        margin-top: 3%;
    }
    body{
        background: beige;
    }
</style>
{% endblock %}

{% block body %}
<div id="head" style="text-align: center">
    <h3 style="text-align: center">USTC 2020年考研初试成绩与排名查询</h3>
    <p>1. 网站仅保存准考证号，所报学院专业及分数情况，请不要担心隐私泄露</p>
    <p>2. 报考 USTC 的所有同学均可登录查分，查分后点击分数上方链接可查看本专业排名(下方为常用排名)，人数越多，数据越准确</p>
    <p>
        <span>3. 仅供学习交流使用，使用造成的一切不良后果由用户承担，与作者无关
        <a href="https://github.com/csflyer/USTCrank" target="_blank">项目Github地址</a></span></span>
    </p>
</div>
<div class="col-md-6 col-md-offset-3">
    <table class="table" style="margin-top: 10px">
        <tr>
            <td>总分排名</td>
            <td>
                <a href="/ranking_total_score/225%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">软件学院专硕</a>
            </td>
            <td>
                <a href="/ranking_total_score/225%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2/083500%E8%BD%AF%E4%BB%B6%E5%B7%A5%E7%A8%8B" target="_blank">软件学院学硕</a>
            </td>
            <td>
                <a href="/ranking_total_score/215%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">计院专硕</a>
            </td>
            <td>
                <a href="/ranking_total_score/215%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2/081200%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF" target="_blank">计院学硕</a>
            </td>
            <td>
                <a href="/ranking_total_score/218%E5%85%88%E8%BF%9B%E6%8A%80%E6%9C%AF%E7%A0%94%E7%A9%B6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">先进院专硕</a></td>
            <td>
                <a href="/ranking_total_score/168%E7%A0%94%E7%A9%B6%E7%94%9F%E9%99%A2%E7%A7%91%E5%AD%A6%E5%B2%9B%E5%88%86%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">科学岛专硕</a>
            </td>
        </tr>
        <tr>
            <td>净分排名</td>
            <td>
                <a href="/ranking_net_score/225%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">软件学院专硕</a>
            </td>
            <td>
                <a href="/ranking_net_score/225%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2/083500%E8%BD%AF%E4%BB%B6%E5%B7%A5%E7%A8%8B" target="_blank">软件学院学硕</a>
            </td>
            <td>
                <a href="/ranking_net_score/215%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">计院专硕</a>
            </td>
            <td>
                <a href="/ranking_net_score/215%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2/081200%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF" target="_blank">计院学硕</a>
            </td>
            <td>
                <a href="/ranking_net_score/218%E5%85%88%E8%BF%9B%E6%8A%80%E6%9C%AF%E7%A0%94%E7%A9%B6%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">先进院专硕</a></td>
            <td>
                <a href="/ranking_net_score/168%E7%A0%94%E7%A9%B6%E7%94%9F%E9%99%A2%E7%A7%91%E5%AD%A6%E5%B2%9B%E5%88%86%E9%99%A2/085400%E7%94%B5%E5%AD%90%E4%BF%A1%E6%81%AF" target="_blank">科学岛专硕</a>
            </td>
            </td>
        </tr>
    </table>
</div>
</div>
<div>
    <div  style="margin-top: 10px;" class="row col-md-2 col-md-offset-5">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</div>
    {% block content %}
    {% endblock %}
{% endblock %}
