{% extends "bootstrap/base.html" %}

{% block title %}
   {% if title  %}
        {{ title }} - USTC 2020年考研初试成绩与排名查询
   {% else %}
        USTC 2020年考研初试成绩与排名查询
    {% endif %}
{% endblock %}


{% block styles %}
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #code-change{
            border: none;
            background-color: transparent;
            padding-right: 0px;
        }
        #validate_img{
            height: 34px;
            margin-top: -6px;
        }
        #head{
            margin-top: 3%;
        }
        body{
            background: beige;
        }
        .margin_left_10{
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block body %}
<div id="head" style="text-align: center">
    <h3 style="text-align: center">USTC 2020年考研初试成绩与排名查询</h3>
    <p>1. 网站仅保存准考证号，所报学院专业及分数情况，请不要担心隐私泄露</p>
    <p>2. 报考 USTC 的所有同学均可登录查分，查分后点击分数上方链接可查看本专业排名(下方为常用排名)，人数越多，数据越准确</p>
    <p>3. <span style="color: red; font-size: 16px">本网站数据为USTC考生所有，未经书面许可，任何人不得以任何方式盗用转载相关数据<strong></strong></p>
    <p>
        <span>4. 仅供学习交流使用，使用造成的一切不良后果由用户承担，与作者无关
        <a href="https://github.com/csflyer/USTCrank" target="_blank">项目Github地址</a></span></span>
    </p>
    {% if current_user.is_authenticated %}
<div class="col-md-6 col-md-offset-3">
    <table class="table" style="margin-top: 10px; margin-bottom: 10px">
        <tr>
            <td>总分排名</td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='225软件学院', major='085400电子信息')}}">软件学院专硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='225软件学院', major='083500软件工程')}}">软件学院学硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='215计算机科学与技术学院', major='085400电子信息')}}">计院专硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='215计算机科学与技术学院', major='081200计算机科学与技术')}}">计院学硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='218先进技术研究院', major='085400电子信息')}}">先进院专硕</a></td>
            <td>
                <a href="{{ url_for('main_view.ranking_total', college='168研究生院科学岛分院', major='085400电子信息')}}">科学岛专硕</a>
            </td>
        </tr>
        <tr>
            <td>净分排名</td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='225软件学院', major='085400电子信息')}}">软件学院专硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='225软件学院', major='083500软件工程')}}">软件学院学硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='215计算机科学与技术学院', major='085400电子信息')}}">计院专硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='215计算机科学与技术学院', major='081200计算机科学与技术')}}">计院学硕</a>
            </td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='218先进技术研究院', major='085400电子信息')}}">先进院专硕</a></td>
            <td>
                <a href="{{ url_for('main_view.ranking_net', college='168研究生院科学岛分院', major='085400电子信息')}}">科学岛专硕</a>
            </td>
            </td>
        </tr>
    </table>
</div>
    {% endif %}
    <div class="col-md-6 col-md-offset-3">
        <p style="margin-top: 0px; font-size: 15px;text-align: center">
            <a href="/">首页</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main_view.score')}}" class="margin_left_10">个人成绩</a>
            {% else %}
                <a href="{{ url_for('main_view.cjcx')}}" class="margin_left_10">注册查分</a>
            {% endif %}
            <a href="{{ url_for('main_view.reset_password') }}" class="margin_left_10">修改查询密码</a>
            <a href="{{ url_for('main_view.logout') }}" class="margin_left_10">退出登录</a>
    </p></div>
</div>
<div>
    <div style="margin-top: 10px;" class="row col-md-2 col-md-offset-5">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category != "info" %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</div>
    {% block content %}
    {% endblock %}
{% endblock %}